{% extends 'layouts/default.twig' %}
{% block title %}
    Login
{% endblock %}
{% block style %}
    <style>
        body {
            background-color: rgb(35, 37, 50);
        }
    </style>
{% endblock %}
{% block script %}/public/js/FormValidation.js{% endblock %}
{% block content %}
    <div class="container">
        <form action="/user/login" method="post" id="login-form">
            <h1 class="display-6 text-center">LOGIN</h1>
            <hr>
            {% if errors %}
                <div class="alert alert-danger" role="alert">
                    {{ errors|nl2br }}
                </div>
            {% endif %}
            <br>
            <div class="mb-3">
                <label for="email" class="form-label">Login</label>
                <span id="email-error"></span>
                <input type="email"
                       class="form-control"
                       id="email"
                       name="email"
                       value=""
                       placeholder="Enter your login (Email)"
                       onkeyup = "validateEmail(); unlockSubmit()">
                <div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div>
            </div>

            <div class="mb-3">
                <label for="pass" class="form-label">Password</label>
                <span id="pass-error"></span>
                <input type="password"
                       class="form-control"
                       id="pass"
                       name="pass"
                       value=""
                       placeholder="Enter your password"
                       onkeyup = "validatePass(); unlockSubmit()">
            </div>

            <div class="buttonsMain">
                <a href="/" class="btn btn-secondary">Cancel</a>
                <button type="reset" onclick="clearAllFormInputs()" class="btn btn-dark">Clear</button>
                <button id="login" type="submit" class="btn btn-success" disabled>Login</button>
            </div>

        </form>
    </div>
{% endblock %}