{% extends 'layouts/default.twig' %}
{% block title %}
{{ code }}
{% endblock %}
{% block content %}
    <h1 class="text-center" style="color: white">Error {{ code }}</h1>
    <h4 class="text-center" style="color: white">Что-то пошло не так...</h4>
{% endblock %}