body {
    background-color: rgb(35, 37, 50);
}

h1 {
    color: white;
}

form h1 {
    color: black;
}

.container {
    min-height: 80vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.container form {
    width: 350px;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    background-color: rgb(232, 234, 236);
}

.mb-3 {
    position: relative;
}

.mb-3 span {
    position: absolute;
    right: 5px;
    color: red;
    font-size: 15px;
}

.bi-check-circle-fill {
    color: forestgreen;
    font-size: 15px;
}

.buttonsMain {
    display: flex;
    justify-content: space-around;
}

.buttonsMain a {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.buttonsMain button {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.buttonRight {
    display: flex;
    justify-content: flex-end;
}

.buttonRight a {
    margin-right: 15px;
}

.box {
    width: 1200px;
}

.container table {
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.preview {
    display: flex;
    justify-content: center;
    border-radius: 10px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.5), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}