{% extends 'layouts/default.twig' %}
{% block title %}
    Main
{% endblock %}
{% block style %}
    <style>
        body {
            background-color: rgb(35, 37, 50);
        }
    </style>
{% endblock %}
{% block content %}
    <div class="container">
        {% if name %}
            <hr>
            <h1 style="color: white">Welcome back, {{ name }}!</h1>
            <hr>
            <div class="buttonsMain">
                <a href="/user/logout" class="btn btn-danger">Logout</a>
            </div>
            <hr>
        {% endif %}
        {% if errors %}
            <div class="alert alert-danger" role="alert">
                {{ errors|nl2br }}
            </div>
            <div class="buttonsMain">
                <a href="/user/login" class="btn btn-success">Try again?</a>
            </div>
        {% else %}
        <div class="buttonsMain">
            <a href="/user/login" class="btn btn-success">Sign In</a>
        </div>
        {% endif %}
    </div>
{% endblock %}