{% extends 'layouts/default.twig' %}
{% block title %}
    Main
{% endblock %}
{% block style %}
    <style>
        body {
            background-color: rgb(35, 37, 50);
        }
    </style>
{% endblock %}
{% block content %}
    <div class="container">
        {% if newUser %}
            <hr>
            <h1 style="color: white">Congratulations, <b>{{ newUser }}</b>! Your account was successfully created!</h1>
            <hr>
        {% endif %}
        {% if errors %}
            <div class="alert alert-danger" role="alert">
                   {{ errors }}<br>
            </div>
            <div class="buttonsMain">
                <a href="/" class="btn btn-warning">Go to main</a>
            </div>
        {% elseif welcome %}
            <hr>
            <h1 style="color: white">Hello, <b>{{ welcome }}</b>! Welcome back!</h1>
            <hr>
            <div class="buttonsMain">
                <a href="/user/logout" class="btn btn-danger">Logout</a>
            </div>
        {% else %}
        <div class="buttonsMain">
            <a href="/user/login" class="btn btn-success">Sign In</a>
        </div>
            <br>
        <div class="buttonsMain">
            <a href="/user/register" class="btn btn-primary">Sign Up</a>
        </div>
        {% endif %}
    </div>
{% endblock %}