body {
    background-color: rgb(35, 37, 50);
}

h1 {
    color: white;
}

h4 {
    color: white;
}

form h1 {
    color: black;
}

.container {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.container form {
    width: 450px;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    background-color: rgb(232, 234, 236);
}

.relfield {
    position: relative;
}

.relfield span {
    position: absolute;
    right: 5px;
    color:red;
    font-size: 15px;
}

.sign-red {
    color: darkred;
}

.sign-green {
    color: forestgreen;
}

.buttonsMain {
    display: flex;
    justify-content: space-around;
}

.buttonsMain a {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.buttonsMain button {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}