{% extends 'layouts/default.twig' %}
{% block title %}
    Main
{% endblock %}
{% block content %}
    <div class="container">
        {% if newUser %}
            <hr>
            <h1>Congratulations, <b>{{ newUser }}</b>! Your account was successfully created!</h1>
            <hr>
        {% endif %}
        {% if errors %}
            <div class="alert alert-danger" role="alert">
                   {{ errors }}<br>
            </div>
            <div class="buttonsMain">
                <a href="/" class="btn btn-warning">Go to main</a>
            </div>
        {% elseif name %}
            <hr>
            <h1>Hello, <b>{{ name }}</b>! Welcome back!</h1>
            <hr>
            <div class="buttonsMain">
                <a href="/file" class="btn btn-primary">Files</a>
                <a href="/user/logout" class="btn btn-danger">Logout</a>
            </div>
        {% else %}
        <div class="buttonsMain">
            <a href="/user/login" class="btn btn-success">Sign In</a>
            <a href="/user/register" class="btn btn-primary">Sign Up</a>
        </div>
        {% endif %}
    </div>
{% endblock %}